@import 'tailwindcss';
/* Khai báo dark mode chạy khi có class .dark */
@custom-variant dark (&:where(.dark, .dark *));

@utility lightContent {
  color: #666666;
}

@utility darkContent {
  color: #A7A7A7;
}

@utility linear-right {
    background: linear-gradient(to right, #00C0FD, #E70FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@utility linear-bottom {
    background: linear-gradient(to bottom, #00C0FD, #E70FAA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}